.font-weight-300 {
  font-weight: 300;
  color: #FFFFFF;
}
.font-gold {
  color: var(--font-gold);
}

.font-white{
  color: #FFFFFF;
}

.font-black {
  color: var(--bg-dark);
}

.font-red {
  color: var(--dark-red);
}