
@font-face {
  font-family: Forum;
  src: url("sass/abstracts/fonts/Forum/Forum-Regular.ttf");
}

//
///*.......fonts*/
//.roboto {
//  font-family: Roboto, sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  letter-spacing: 2px;
//}
//.roboto-normal12 {
//
//  font-size: 12px;
//  line-height: 14px;
//}
//
//.roboto-normal18 {
//  font-size: 18px;
//  line-height: 21px;
//}
//
//.roboto-normal22{
//  font-weight: 200;
//  font-size: 22px;
//  line-height: 26px;
//}
//.roboto-normal28 {
//  font-size: 28px;
//  line-height: 33px;
//}
//.roboto-normal32 {
//  font-size: 32px;
//  line-height: 5px;
//  text-align: center;
//}
//
.font-weight-300 {
  font-weight: 300;
  /*line-height: 38px;*/
  color: #FFFFFF;
}
//.font-weight-400{
//  font-weight: 400;
//}
//.font-weight-500 {
//  font-weight: 500;
//}
//.font-weight-700 {
//  font-weight: 700;
//
//}
.font-gold {
  color: var(--font-gold);
}

.font-white{
  color: #FFFFFF;
}

.font-black {
  color: var(--bg-dark);
}

.font-red {
  color: var(--dark-red);
}

//.font-forum {
//  font-family: Forum, sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  letter-spacing: 5px;
//}
//
//.font-forum-80 {
//  font-size: 80px;
//  line-height: 90px;
//}
//
//.font-forum-50 {
//  font-size: 50px;
//  line-height: 55px;
//}
//
//.font-forum-32 {
//  font-size: 32px;
//  line-height: 35px;
//}
//
//.font-forum-18 {
//  font-size: 18px;
//  line-height: 20px;
//  letter-spacing: 2px;
//
//}