@font-face {
  font-family: Forum;
  src: url("sass/abstracts/fonts/Forum/Forum-Regular.ttf");
}
/*.......fonts*/
.roboto {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
}

.roboto-normal12 {
  font-size: 12px;
  line-height: 14px;
}

.roboto-normal18 {
  font-size: 18px;
  line-height: 21px;
}

.roboto-normal22 {
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

.roboto-normal28 {
  font-size: 28px;
  line-height: 33px;
}

.roboto-normal32 {
  font-size: 32px;
  line-height: 5px;
  text-align: center;
}

.font-weight-300 {
  font-weight: 300;
  /*line-height: 38px;*/
  color: #FFFFFF;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.font-gold {
  color: var(--font-gold);
}

.font-white {
  color: #FFFFFF;
}

.font-black {
  color: var(--bg-dark);
}

.font-red {
  color: var(--dark-red);
}

.font-forum {
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 5px;
}

.font-forum-80 {
  font-size: 80px;
  line-height: 90px;
}

.font-forum-50 {
  font-size: 50px;
  line-height: 55px;
}

.font-forum-32 {
  font-size: 32px;
  line-height: 35px;
}

.font-forum-18 {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 2px;
}

:root {
  --dark-red: #710707;
  --font-gold: #9d8665;
  --bg-dark: #030303 ;
}

.welcome-section-button {
  position: relative;
  display: flex;
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.welcome-section-button:hover {
  background-color: var(--font-gold);
}

.buy-button {
  width: 175px;
  height: 50px;
  background-color: var(--bg-dark);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.buy-button:hover {
  background-color: var(--font-gold);
}

.buy-button:active {
  background-color: #7E6C51;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-container {
  margin-bottom: 75px;
}

.footer-container {
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-logo {
  width: 195px;
  height: 50px;
  background-image: url("../assets/svg/Logo.svg");
  display: inline-block;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
}

.footer-nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 120px;
  column-gap: 130px;
}

.footer-nav-list-anchors {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-nav-list-social {
  column-gap: 25px;
  padding-top: 75px;
}

.footer-nav-list-social-elem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-style: solid;
  border-color: #666666;
  border-radius: 50%;
}

.footer-nav-list-social-elem:hover {
  border-color: var(--font-gold);
}

.footer-nav-list-social-elem:active {
  border-color: #7E6C51;
}

/*.footer-nav-div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    row-gap: 25px;*/
/*    margin: 0;*/
/*}*/
.nav-element-footer {
  color: #FFFFFF;
}

.bottom-footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 52px;
}

.bottom-footer {
  margin: 0 auto;
  max-width: 1440px;
}

.grey-line {
  width: 1920px;
  height: 2px;
  background-color: #666666;
}

.bottom-footer-list-item {
  list-style: none;
  line-height: 22px;
  color: #FFFFFF;
  margin-right: 200px;
}

.social-youtube {
  fill: #ffffff;
}

.social-youtube:hover {
  fill: #7E6C51;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
  width: 1440px;
  height: 95px;
  margin-top: 0;
  padding-top: 0;
}

.nav-list {
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
}

.nav-element {
  letter-spacing: 2px;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  scroll-behavior: smooth;
}

.anchor-link {
  text-decoration: none;
  color: #FFFFFF;
}

.anchor-link:hover {
  color: var(--font-gold);
}

.anchor-link:active {
  color: #7E6C51;
}

.navigation-desktop {
  margin-top: 60px;
}

.logo {
  width: 199px;
  height: 33px;
  margin-top: 60px;
}

/*hamburgerMenu*/
.hamburger-menu {
  visibility: hidden;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 50px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 4;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.hamburger-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
  position: fixed;
  visibility: hidden;
  z-index: 3;
  top: 0;
  left: -100%;
  width: 500px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #030303;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
}

.hamburger-nav-element {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.hamburger-nav-element:hover {
  /*background-color:var(--font-gold);*/
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .hamburger-nav-list {
  visibility: visible;
  left: 0;
}

@media (min-width: 1024px) {
  /*.hamburger-nav-list {*/
  /*    visibility: hidden;*/
  /*}*/
  #menu__toggle:checked ~ .hamburger-nav-list {
    visibility: hidden;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 1024px) {
  .hamburger-menu {
    visibility: visible;
  }

  .navigation-desktop {
    display: none;
  }

  .section-header {
    font-family: Forum, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .slider-pic {
    width: 700px;
    height: 525px;
  }

  .welcome-slider-img {
    width: 700px;
    height: 525px;
  }

  .welcome-slider-container {
    width: 700px;
    height: 120px;
  }

  .welcome-section-button {
    width: 300px;
    height: 60px;
  }
}
/*//form ------------------*/
.gold-logo {
  width: 85px;
  height: 41px;
}

.blur {
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 13px -1px rgba(34, 60, 80, 0.11);
  padding-left: 0px;
  padding-right: 16px;
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(25px);
}

.book-ticket-popup {
  display: flex;
  position: fixed;
  top: 200px;
  z-index: 2;
  background-color: white;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 55px;
  width: 1440px;
  height: 845px;
}

.booking-tickets-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.ticket-popup-form {
  display: flex;
  flex-direction: column;
}

.booking-header {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  letter-spacing: 0;
}

.booking-par {
  margin-top: 10px;
  margin-bottom: 48px;
}

.svg {
  margin-left: 10px;
}

.input-tickets {
  border-color: transparent;
}

.input-div {
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: #030303;
  border-width: 1px;
  width: 400px;
  height: 45px;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

.input-div-short {
  width: 190px;
}

.input-div-short-margin10 {
  margin-right: 17px;
}

.entry-ticket {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 400px;
}

.entry-ticket-header {
  margin-left: 10px;
  margin-bottom: 6px;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrap-start {
  display: flex;
  flex-direction: row;
}

.wrap-col {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.counter-small {
  width: 105px;
  height: 25px;
  margin-bottom: 10px;
}

.tickets-overview {
  width: 530px;
  height: 663px;
  border-style: solid;
  border-width: 1px;
  border-color: #030303;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.overview-header {
  margin: 0;
  padding-right: 50px;
  padding-top: 15px;
}

.label-overview {
  margin-left: 10px;
}

.close-popup {
  position: relative;
  top: -40px;
  left: 1130px;
  width: 25px;
  height: 25px;
}

.night-louvre-pic {
  display: block;
  width: 150px;
  height: 120px;
}

.red-border {
  border-bottom-style: solid;
  border-bottom-color: var(--dark-red);
  border-width: 3px;
  height: 70px;
}

.overview-par {
  margin: 0;
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  background-color: #BCBCBC;
  border-radius: 5px;
  width: 360px;
  height: 211px;
  /*padding-left: 30px;*/
  /*padding-right: 30px;*/
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  z-index: 3;
}

.card2 {
  position: relative;
  top: -185px;
  left: 170px;
  width: 360px;
  height: 211px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: #939393;
  border-radius: 5px;
}

.black-rectangle {
  width: 320px;
  height: 45px;
  background-color: #030303;
}

#cvc {
  width: 75px;
  height: 35px;
  margin-right: 20px;
}

.card2-par {
  width: 50px;
  height: 55px;
  font-size: 10px;
  line-height: 12px;
  color: #161615;
  margin-right: 20px;
}

.cvc-label {
  margin-right: 20px;
  color: #161615;
}

.date-time-div {
  display: flex;
  flex-direction: row;
}

.card1-logo {
  position: relative;
  right: 60px;
  top: 25px;
}

#cardNumber {
  width: 215px;
  height: 35px;
  color: #161615;
}

#month {
  width: 100px;
  height: 35px;
  margin-right: 7px;
  color: #161615;
}

#year {
  width: 100px;
  height: 35px;
  color: #161615;
}

#inputText {
  width: 320px;
  height: 35px;
  color: #161615;
}

.card1-label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #161615;
}

.wrap-column {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-button {
  position: relative;
  bottom: 150px;
  left: 308px;
  width: 220px;
  height: 45px;
  background-color: var(--dark-red);
  color: #FFFFFF;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 0;
  position: relative;
  left: -155px;
}

.slider-switcher {
  width: 650px;
  height: 120px;
  background-color: #030303;
  position: relative;
  top: -66px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 40px;
  justify-content: center;
  z-index: 1;
}

.arrow-wrapper {
  display: flex;
}

.slider-counter {
  color: #FFFFFF;
}

.slider-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.slider-list-item {
  list-style: none;
}

.slider-button {
  background-color: #FFFFFF;
  width: 16px;
  height: 16px;
}

.slider-button:hover {
  background-color: var(--font-gold);
}

.slider-button.active {
  background-color: #7E6C51;
}

.slider-arrow {
  width: 40px;
  height: 40px;
  background-color: #030303;
  border-color: #030303;
}

.welcome-slider-container {
  display: flex;
  width: 100%;
  position: relative;
  /*top: -565px;*/
  /*right: -500px*/
}

.welcome-slider-img {
  width: 1000px;
  height: 750px;
  display: none;
}

.welcome-slider-img.active {
  display: block;
}

.slider-pic {
  width: 100%;
  height: 100%;
}

.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.section {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
}

.dark-section {
  background-color: var(--bg-dark);
  width: 100%;
}

.section-visiting {
  scroll-behavior: smooth;
}

.section-header {
  text-transform: uppercase;
  color: var(--font-gold);
  width: 660px;
  height: 115px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.section-header-virtual-tour {
  margin-bottom: 75px;
}

.dark-header {
  color: #ffffff;
}

/****************/
.welcome-header {
  margin-top: 0;
  width: 600px;
  padding-top: 180px;
  position: relative;
  z-index: 2;
}

.container-welcome {
  display: flex;
  flex-direction: row;
  height: 810px;
}

.section-paragraph {
  position: relative;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 75px;
  color: #FFFFFF;
}

.section-header-underline {
  border-bottom-style: solid;
  border-bottom-color: var(--dark-red);
  width: 1420px;
}

.section-header-underline-explore {
  width: 660px;
}

.card-red-line {
  width: 70%;
  color: var(--dark-red);
}

.card-red-line:hover {
  width: 100%;
}

.VirtualTour-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 65px;
  column-gap: 60px;
}

.VirtualTour-card {
  display: block;
  text-decoration: none;
}

.VirtualTour-img {
  width: 440px;
  height: 285px;
  margin-bottom: 21px;
}

.VirtualTour-header {
  height: 45px;
  text-transform: uppercase;
  color: var(--bg-dark);
  margin-top: 0;
  margin-bottom: 20px;
}

.VirtualTour-paragraph {
  color: var(--bg-dark);
  margin-top: 0;
  margin-bottom: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 60px;
}

.video-slider-container {
  margin-top: 30px;
  column-gap: 42px;
}

.explore-container {
  display: flex;
  flex-direction: column;
  width: 660px;
}

.video-journey-paragraph {
  color: var(--bg-dark);
  width: 720px;
  height: 90px;
  margin-top: 70px;
  margin-bottom: 75px;
}

.gold {
  color: var(--font-gold);
}

.explore-img {
  width: 720px;
  height: 700px;
  margin-top: 90px;
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.tickets-container-img {
  width: 720px;
  height: 550px;
}

.tickets-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.tickets-form-type {
  border-color: transparent;
}

.tickets-form-amount {
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.counter {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: var(--bg-dark);
  border-width: 3px;
}

.counter-button {
  background-color: #FFFFFF;
  border-style: none;
  color: var(--bg-dark);
}

.counter-input {
  width: 55px;
  height: 30px;
  border-style: none;
  text-align: center;
  font-weight: 300;
  line-height: 26px;
}

.contacts-header {
  width: 227px;
}

.phone-mail-Link {
  text-decoration: none;
  color: #000000;
}

.phone-mail-Link:hover {
  color: var(--font-gold);
}

.phone-mail-Link:active {
  color: #7E6C51;
}

.section-buy-tickets-img {
  width: 1920px;
}

.section-buy-tickets-parallax {
  width: 100%;
  min-height: 500px;
  background-image: url("assets/img/parallax.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*....gallery*/
.gallery-picture-container {
  height: 2100px;
  width: 1440px;
  overflow-y: hidden;
}

.gallery-picture-inner-cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
}

.gallery-picture {
  margin-right: 8px;
  margin-left: 8px;
}

.html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.body {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.6rem;
}

.style-icon {
  fill: #9d8665 !important;
}

.icon-date {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/date.svg");
  display: inline-block;
}

.icon-time {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/Time.svg");
  display: inline-block;
}

.icon-check {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/check.svg");
  display: inline-block;
}

.icon-person {
  width: 13px;
  height: 15px;
  background-image: url("../assets/svg/name.svg");
  display: inline-block;
}

.icon-email {
  width: 15px;
  height: 11px;
  background-image: url("../assets/svg/email.svg");
  display: inline-block;
}

.icon-phone {
  width: 22px;
  height: 31px;
  background-image: url("../assets/svg/tel.svg");
  display: inline-block;
}

.icon-ticket {
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/ballot.svg");
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
