.style-icon {
  fill: #9d8665 !important;
}

.icon-date{
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/date.svg");
  display: inline-block;
}

.icon-time{
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/Time.svg");
  display: inline-block;
}

.icon-check{
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/check.svg");
  display: inline-block;
}

.icon-person{
  width: 13px;
  height: 15px;
  background-image: url("../assets/svg/name.svg");
  display: inline-block;
}

.icon-email {
  width: 15px;
  height: 11px;
  background-image: url("../assets/svg/email.svg");
  display: inline-block;
}
.icon-phone{
  width: 22px;
  height: 31px;
  background-image: url("../assets/svg/tel.svg");
  display: inline-block;
}

.icon-ticket{
  width: 15px;
  height: 15px;
  background-image: url("../assets/svg/ballot.svg");
  display: inline-block;
}