.welcome-section-button {
  position: relative;
  display: flex;
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  color: #FFFFFF;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @extend %transition;
}
.welcome-section-button:hover {
  background-color: var(--font-gold);
}

.buy-button {
  width: 175px;
  height: 50px;
  background-color: $color-background-dark;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  @extend %transition;
}

.buy-button:hover {
  background-color: var(--font-gold);
  border-color: #9d8665;
}

.buy-button:active {
  background-color: #7E6C51;
}