.explore-section{
  background-color: $color-background-dark;
  width: 100%;
}

.section-header-explore {
  border-bottom-style: solid;
  border-bottom-color: var(--dark-red);
  width: 100%;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.explore-slider{
  width: 92%;
  margin: 0;
  padding-top: 15px;
  @include media-laptop-small {
    //width: 720px;
    //height: 700px;
  }
  @include media-mobile{
    width: 100%;
  }
}
.explore-img-old{
  width: 100%;
  height: 100%;
}
.explore-img-new{
  display: none;
}
.wrapper-explore {
  @extend %flex-row;
  column-gap: 60px;
  @include media-laptop-small{
  flex-direction: column;
    align-items: center;
  }
}

.explore-container {
  display: flex;
  flex-direction: column;
  row-gap: 75px;
}

.explore-info-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  @include media-tablet{
    display: none;
  }
}

.display-none{
  @include media-laptop-small{
    display: none;
  }
}

.explore__info{
  color: #FFFFFF;
  line-height: 38px;
  margin: 0;
  letter-spacing: 0.05px;
  &_gold{
    color: $color-text-highlight;
  }
}

