.footer-section {
background-color: $color-background-dark;
  padding-top: 75px;
  padding-bottom: 55px;
}

.margin-container {
  padding-bottom: 60px;
}
.footer-container{
  padding-bottom: 50px;
  @extend %flex-row;
  @include media-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
.footer-logo {
  width: 195px;
  height: 50px;
  background-image: url("../assets/svg/Logo.svg");
  display: inline-block;
}


.footer__navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @extend %flex-row;
  align-items: center;
  width: 47%;
}
.footer-nav-list-div{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.footer-nav-wrap{
  @extend %flex-row;
  align-items: flex-end;
  width: 76%;
  padding-top: 10px;
  @include media-mobile{
    flex-direction: column;
  }
}

.footer-social {
  column-gap: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

  .social__elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-style: solid;
    border-color: #666666;
    border-radius: 50%;
    &:hover {
      @extend %transition;
      border-color: $color-hover;
      .logo-svg{
        fill: $color-hover;
        @extend %transition;
      }
    }
    &:active {
      border-color: #7E6C51;
    }
  }


.bottom-footer-list {
  @extend %flex-row;
  margin: 0;
  padding-left: 0;
  padding-top: 50px;
}

.bottom-footer {
  margin: 0 auto;
  max-width: $content-width;

  @media (max-width: $content-width) {
    padding: 0 20px;
  }
  @include media-laptop-small{
  }
}


.grey-line {
  width: 100%;
  height: 2px;
  background-color: #666666;
}

.bottom-footer-list-item {
  list-style: none;
  line-height: 22px;
  color: #FFFFFF;
}