.gallery-section{
  background-color: $color-background-dark;
  width: 100%;
  padding-top: 75px;
}
.gallery-header {
  color: #FFFFFF;
}
.gallery-picture-container {
  height: 2009px;
  max-width: 1440px;
  overflow-y: hidden;
  @include media-laptop-small{
    height: 1235px;
  }
  @include media-tablet{
    height: 1078px;
  }
}

.gallery-picture-inner-cont {
  -webkit-box-shadow: 1px -78px 25px -17px rgba(0, 0, 0, 0.31) inset;
  -moz-box-shadow: 1px -78px 25px -17px rgba(0, 0, 0, 0.31) inset;
  box-shadow: 1px -78px 25px -17px rgba(0, 0, 0, 0.31) inset;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  //justify-content: center;
  row-gap: 24px;
  //column-gap: 84px;
  @include media-laptop-small{
    //column-gap: 36px;
  }
}

.gallery-picture {
  margin-right: 8px;
  margin-left: 8px;
  width: calc(33.3% - 72px);
  @include media-tablet {
      width: calc(50% - 24px);
    }
}
