.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 0;
  position: relative;
  left: -155px;
}

.slider-switcher {
  width: 650px;
  height: 120px;
  background-color: #030303;
  position: relative;
  top: -66px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 40px;
  justify-content: center;
  z-index: 1;
}

.arrow-wrapper {
  display: flex;
}

.slider-counter {
  color: #FFFFFF;
}
.slider-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.slider-list-item {
  list-style: none;
}


.slider-button {
  background-color: #FFFFFF;
  width: 16px;
  height: 16px
}
.slider-button:hover {
  background-color: var(--font-gold);
}

.slider-button.active {
  background-color: #7E6C51;
}


.slider-arrow {
  width: 40px;
  height: 40px;
  background-color: #030303;
  border-color: #030303;
}

.welcome-slider-container {
  display: flex;
  width: 100%;
  position: relative;
  /*top: -565px;*/
  /*right: -500px*/

}

.welcome-slider-img {
  width: 1000px;
  height: 750px;
  display: none;
}

.welcome-slider-img.active {
  display: block;
}

.slider-pic {
  width: 100%;
  height: 100%;
}