.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.slider-switcher {
  height: 120px;
  width: 60%;
  background-color: #030303;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 55px;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 690px;
}

.arrow-wrapper {
  display: flex;
}

.slider-counter {
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 3px;
}
.slider-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
  margin: 0;
  padding: 0;
}

.slider-list__item {
  list-style: none;
}


.slider-button {
  background-color: #FFFFFF;
  width: 16px;
  height: 16px;
  &:hover {
    background-color: $color-gold-header;


  }
}


.slider-button.active {
  background-color: #7e6c51;
}


.slider-arrow {
  width: 40px;
  height: 40px;
  background-color: #030303;
  border-color: #030303;
}

.welcome-slider-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.welcome-slider-img {
  width: 1000px;
  height: 750px;
  display: none;
}

.welcome-slider-img.active {
  display: block;
}

.slider-pic {
  width: 100%;
  height: 100%;
}