.tickets-section{
  width: 100%;
}
.tickets-wrapper{
}
.tickets-header {
  margin-bottom: 73px;
  @include media-tablet{
    margin-bottom: 40px;
  }
}
.tickets-img-container {
  width: 720px;
  height: 550px;
  background-image: url("../assets/img/buyTickets.png");
  background-repeat: no-repeat;
  @include media-laptop-small{
    width: 100%;
    background-position: center;
  }
  @include media-mobile{
    width: 100%;
    height: 160px;
    overflow-y: hidden;
    background-size: cover;
    margin-bottom: 40px;
  }
}

//.tickets-img{
//  width: 100%;
//}

.tickets-flex-container {
  padding-top: 70px;
  @extend %flex-row;
  column-gap: 58px;
  @include media-tablet{
    padding-top: 50px;
    column-gap: 45px;
    flex-direction: column;
    align-items: center;
  }
  @include media-mobile{
    padding-top: 40px;
  }
}
.ticket-choice{
margin-bottom: 24px;
}
.ticket-type-input {
}
//.custom-input {
//  width: 11px;
//  height: 11px;
//  border-color: #030303;
//  border-style: solid;
//  border-radius: 50px;
//}

.ticket-label{
  padding-left: 11px;
}
.tickets-form {
  @extend %flex-row;
  //column-gap: 235px;
  justify-content: space-between;
  //align-items: center;
  width: 46%;
  @media (max-width: 1120px) {
    justify-content: center;
    width: auto;
  }
  @include media-tablet{
    justify-content: center;
    width: 100%;
  }
}

.tickets-form-type {
  border-color: transparent;
  padding: 0;
  @media (max-width: 1120px) {
    display: none;
  }

}
.ticket-info_type{
  margin: 0 0 50px 0;
  font-weight: 700;
}
.ticket-info_amount{
  margin: 0 0 25px 0;
  font-weight: 700;
  @media (max-width: 1120px) {
   justify-content: center;
  }

  @include media-mobile{
    @include font(1.6rem, 1.9rem)
  }


}

.age-type {
  margin: 0 0 15px 0;

  @include media-mobile{
    @include font(1.6rem, 1.9rem, 0, 300)
  }
}

.tickets-form-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include media-mobile{
    align-items: center;
  }
}

.counter {
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  justify-content: space-around;
  @extend %flex-row;
  align-items: center;
  border-style: solid;
  border-color: var(--bg-dark);
  border-width: 3px;
  @include media-laptop-small{
    width: 175px;
  }
}

.extra-margin{
  margin-bottom: 50px;
  @include media-mobile{
    margin-bottom: 40px;
  }
}

.counter-button {
  background-color: #FFFFFF;
  border-style: none;
  color: $color-background-dark;
  font-size: 32px;
  line-height: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

.counter-input {
  width: 55px;
  height: 30px;
  border-style: none;
  text-align: center;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}
.tickets-total {
  margin-top: 0;
  margin-bottom: 60px;

  &{
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  @include media-mobile{
    margin-bottom: 40px;
    @include font(1.6rem, 1.9rem)
  }
}

.section-buy-tickets-img {
  width: 1920px;
}

.section-buy-tickets-parallax {
  width: 100%;
  min-height: 400px;
  background-image: url("../assets/img/parallax.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


