.tickets-section{
  width: 100%;
}
.tickets-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 73px;
}
.tickets-container-img {
  width: 70%;
  height: 100%;
}

.tickets-flex-container {
  @extend %flex-row;
  column-gap: 60px;
  @include media-tablet{
    column-gap: 45px;
  }
  @include media-mobile{
    flex-direction: column;
  }
}
.ticket-choice{
margin-bottom: 24px;
}
.ticket-type-input {
}
//.custom-input {
//  width: 11px;
//  height: 11px;
//  border-color: #030303;
//  border-style: solid;
//  border-radius: 50px;
//}

.ticket-label{
  padding-left: 11px;
}
.tickets-form {
  @extend %flex-row;
  width: 60%;
}

.tickets-form-type {
  width: 60%;
  border-color: transparent;
  padding: 0;
  @media (max-width: 1120px) {
    display: none;
  }

}
.ticket-info_type{
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
}
.ticket-info_amount{
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.age-type {
  margin: 10px 0 15px 0;
}

.tickets-form-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.counter {
  width: 150px;
  height: 50px;
  @extend %flex-row;
  align-items: center;
  border-style: solid;
  border-color: var(--bg-dark);
  border-width: 3px;

}

.counter-button {
  background-color: #FFFFFF;
  border-style: none;
  color: $color-background-dark;
  font-size: 32px;
  line-height: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

.counter-input {
  width: 55px;
  height: 30px;
  border-style: none;
  text-align: center;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}
.tickets-total {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 55px;
  margin-bottom: 60px;
  letter-spacing: 2.8px;
}

.section-buy-tickets-img {
  width: 1920px;
}

.section-buy-tickets-parallax {
  width: 100%;
  min-height: 400px;
  background-image: url("../assets/img/parallax.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


