.video-section{

}

.video-journey-paragraph {
  color: var(--bg-dark);
  width: 720px;
  height: 90px;
  margin-top: 70px;
  margin-bottom: 75px;
  font-weight: 300;
}

.video-slider-container{
  margin-top: 30px;
  column-gap: 42px;
}