.video-section{
}

.section-header_video{
  width: 78%;
  padding-bottom: 0;
  @media (max-width: $laptop-width) {
    width: 100%;
  }
}
.video-journey-paragraph {
  color: var(--bg-dark);
  margin: 0;
  font-weight: 300;
  line-height: 38px;
  @include media-laptop-small{
    display: none;
  }
}

.video-section-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 60px;
}
.player{
  overflow-y: hidden;
  position: relative;
  margin-bottom: 40px;
}
.video-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 75px;
  row-gap: 0;
  @include media-laptop-small{
    padding-top: 0;
  }
}
.img-video{
  margin: 0;
}
.video-slider-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0;
  margin: 0;
}
.video{
}

.video-slide{
  position: relative;
  display: none;
  //padding-top: 25px;
  >*{
    //width: 1440px;
    //height: 650px;
    //left: 0;
    //top: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  @include media-laptop{
  }
}
.active{
  display: block;
}
.play-button{
  width: 220px;
  height: 220px;
  position: absolute;
  z-index: 1;
  top: 29%;
  left: 41%;
  @include media-laptop-small{
    width: 152px;
    height: 152px;
  }
  @include media-tablet{
    width: 80px;
    height: 80px;
  }
  @include media-mobile{
    width: 50px;
    height: 50px;
  }
}
.console{
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: #000000;
  width: 100%;
}
.console-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  height: 85px;
  @include media-laptop-small{
  height: 60px;
}
  @include media-tablet{
    height: 53px;
  }
  @include media-mobile{
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 10px;
  }
}
.video-range-tablet{
  display: none;
  @include media-tablet{
    display: block;
  }
}
.video-range{
width: 870px;
  @include media-laptop-small{
    width: 700px;
  }
  @include media-tablet{
    display: none;
  }
}

.volume-range{
width: 88px;
}

.ico-margin {
  margin-right: 50px;
  @include media-laptop-small {
    margin-right: 30px;
  }
  @include media-tablet {

  }
  @include media-mobile {
    margin-right: 10px;
  }
}
.ico-vol {
@include media-mobile{
  width: 18px;
  height: 14px;
}
}
.ico-play{
  @include media-mobile{
    width: 14px;
    height: 18px;
  }
}
.ico-full-screen{
  @include media-tablet{
    width: 27px;
    height: 27px;
  }
  @include media-mobile{
    width: 18px;
    height: 18px;
  }
}

.videos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  column-gap: 40px;
  margin-top:0;
  margin-bottom: 30px;
  max-width: 1280px;
  @include media-laptop{
  }
  @include media-tablet{
    column-gap: 20px;
  }
}
.video-button {
  position: relative;
  width: calc(33.3% - 25px);
  height: 100%;
  @include media-laptop {

  }
  @include media-tablet {
    width: calc(50% - 10px);
  }
}

.display-flex{
  display: flex;
}

.play-ico{
position: absolute;
  z-index: 1;
  top: 35%;
  right: 33%;
}

.mini-video{
  width: 100%;
  height: 100%;
}

.video-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.pagination-button {
  background-color: #999999;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border-color: transparent;
  &:hover {
    background-color: var(--font-gold);
    cursor: pointer;
  }
}

.pagination-button.active{
  color: #333333;
}

.stroke-button {
  background-color: white;
  border: transparent;
  &:hover{
    cursor: pointer;
  }
}