.html {
  scroll-behavior: smooth;
  font-size: 10px;
}
.body {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  @include font(2.2rem, 2.6rem, 200)
}



h1{
  @extend %font-add;
  @include font(8rem, 9rem);
  letter-spacing: 0.5rem;

}

h2{
  @extend %font-add;
  @include font(8rem, 9rem);
  letter-spacing: 0.5rem;
}

h3 {
  @extend %font-add;
  @include font(3.2rem, 3.5rem);
  letter-spacing: 0.5rem;
}

h4{
  @include font(2.8rem, 3.3rem, 500)
}