.html {
  scroll-behavior: smooth;
  font-size: 10px;
}
.body {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 26px;
}



h1{
  font-family: 'Forum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
}

h2{
  font-family: 'Forum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
}

h3 {
  font-family: 'Forum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
}

h4{
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}