
.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


//.section {
//  width: 100%;
//  height: 100%;
//  padding-top: 25px;
//  padding-bottom: 30px;
//}
//
//.dark-section {
//  background-color: var(--bg-dark);
//}


.section-header {
  text-transform: uppercase;
  color: var(--font-gold);
  width: 660px;
  //height: 115px;
  //margin-top: 50px;
  //margin-bottom: 90px;
}


.section-header-virtual-tour {
  //margin-bottom: 75px;
  margin: 0;
  padding-bottom: 25px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: var(--dark-red);
}

.white-header {
  color: #ffffff;
}

/****************/



.section-header-explore {
  border-bottom-style: solid;
  border-bottom-color: var(--dark-red);
  width: 660px;
  color: #FFFFFF;
}
.card-red-line {
  width: 70%;
  color: var(--dark-red);
  margin: 0;
  &:hover {
    width: 100%;
   @extend %transition
  }
}




.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 60px;
}



.gold {
  color: var(--font-gold)
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-bottom: 40px;
}





