
.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  text-transform: uppercase;
  color: $color-gold-header;
  margin: 0;
  padding-bottom: 25px;
  @include media-laptop-small{
    @include font(5rem,7.5rem, normal, 0.5rem );
  }
}


.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.white-header {
  color: #ffffff;
}



.card-red-line {
  width: 70%;
  color: var(--dark-red);
  margin: 0;
  &:hover {
    width: 100%;
   @extend %transition
  }
}

.flex-row {
  @extend %flex-row;
  column-gap: 60px;
}



