.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header {
  text-transform: uppercase;
  color: $color-gold-header;
  margin: 0;
  padding-bottom: 25px;
  //@include media-laptop-small{
  //  @include font(5rem,7.5rem, normal, 0.5rem );
  //}
  @include media-laptop-small{
   padding-bottom: 20px;
  }
}


.section {
  padding-top: 75px;
  padding-bottom: 75px;
  @include media-laptop-small{
    padding-top: 57px;
    padding-bottom: 63px;
  }
}



.card-red-line {
  width: 70%;
  color: var(--dark-red);
  margin: 0;
  &:hover {
    width: 100%;
   @extend %transition
  }
}



